{% extends "layout.html" %}

{% load static %}

{% block content %}
<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">우리의 메모 모음집</h4>
    <!-- Images -->
    <h5 class="pb-1 mb-4">필요한 내용을 확인하여 주세요</h5>
    <div class="row mb-5">
        {% if memo %}
            {% for m in memo %}
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-3">
                        {% if m.img %}   
                            <img class="card-img-top" src="{{m.img.url}}" alt="Card image cap" style="height:300px;" />
                        {% else %}
                            <img class="card-img-top" src="{% static 'assets/interface.png' %}" alt="Card image cap" style="height:300px;" />
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{m.title}}</h5>
                            <p class="card-text">
                                🔎 : {% for l in m.labels.all %} {{l.label}} &nbsp/&nbsp{% endfor %} 
                                ❤️ : {{m.like}} <br/><br/>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">{{m.created_at|date:"Y년 m월 d일"}}</small>
                            </p>
                            <a style="float:right" href="{% url 'm-view' memo_id=m.id  %}" class="card-link">자세히 알아보기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}   
        {% else %}
            <div class="col-md-6 col-xl-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="{% static 'assets/interface.png' %}" alt="Card image cap" />
                    <div class="card-body">
                        <h5 class="card-title">메모를 작성하여 주세요</h5>
                        <p class="card-text">
                            현재 메모가 작성되어 있지 않습니다.
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="demo-inline-spacing">
            <!-- Basic Pagination -->
            <nav style="display:flex;justify-content : center;" aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item first">
                        <a class="page-link" href="?p=1">
                            <i class="tf-icon fa-solid fa-angles-left"></i>                                
                        </a>
                    </li>
                    {% if memo.has_previous %}
                        <li class="page-item prev">
                            <a class="page-link" href="?p={{memo.previous_page_number }}">
                                <i class="tf-icon fa-solid fa-angle-left"></i>                                
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link">❌</a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <a class="page-link">{{memo.number}} / {{memo.paginator.num_pages}}</a>
                    </li>
                    {% if memo.has_next %}
                        <li class="page-item next">
                            <a class="page-link" href="?p={{memo.next_page_number }}">
                                <i class="tf-icon fa-solid fa-angle-right"></i>                                
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link">❌</a>
                        </li>
                    {% endif %}
                    <li class="page-item last">
                        <a class="page-link" href="?p={{memo.paginator.num_pages }}">
                            <i class="tf-icon fa-solid fa-angles-right"></i>                                
                        </a>
                    </li>
              </ul>
            </nav>
            <!--/ Basic Pagination -->
          </div>
    </div>
    <!--/ Images -->
</div>
<!-- / Content -->
{% endblock %}

{% block link %}
<div class="buy-now">
    <a href="{% url 'm-write'%}"class="btn btn-danger btn-buy-now">메모 작성하기</a>
</div>
{% endblock %}