{% extends "user/layout.html" %}

{% load static %}

{% block content %}
<!-- Content -->

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="{% url 'index'%}" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <img src="{% static 'assets/talk.jpg' %}" alt="" width="50px" height="60px">
                            </span>
                            <span class="app-brand-text demo text-body fw-bolder">StudyLab</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">우리와 함께 시작해요! 🚀</h4>
                    {% if msg %}
                        <p style="margin-top:20px;color:red;" class="mb-4">{{ msg }}</p>
                    {% endif %}
                    

                    <form id="formAuthentication" class="mb-3" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <div class="input-group input-group-merge">
                                {{ form.user_id }}
                                <span class="input-group-text cursor-pointer btnAjax"><i class="fa-solid fa-user-check"></i></span>
                            </div>
                            
                        </div>
                        <div class="mb-3">
                            <label for="hint" class="form-label">내 보물 1호는?</label>
                            {{ form.hint }}
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="password">Password</label>
                            <div class="input-group input-group-merge">
                                {{ form.password }}
                                <span class="input-group-text cursor-pointer"><i id="change-eye" class="fa-solid fa-eye"></i></span>
                            </div>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label" for="password">Check-Password</label>
                            <div class="input-group input-group-merge">
                                {{ form.check_password }}
                                <span class="input-group-text cursor-pointer"><i id="change-eye1" class="fa-solid fa-eye"></i></span>
                            </div>
                        </div>
                        {{ form.check }}
                        <button class="btn btn-primary d-grid w-100">회원가입 하기</button>
                    </form>
                    <p class="text-center">
                        <span>회원가입이 되어 있나요?</span>
                        <a href="{% url 'login'%}">
                            <span>로그인 하기</span>
                        </a>
                    </p>
                </div>
            </div>
        <!-- /Register -->
        </div>
    </div>
</div>

<!-- / Content -->
<div class="buy-now">
    <a href="{% url 'index'%}" class="btn btn-danger btn-buy-now">Dashboard</a>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/myscript.js' %}"></script>
{% endblock %}
